$ cat .gitignore
# exclude node_modules 
/node_modules

# exclude built js
/vendor/

.github
npm-debug.log
*.lock
native
/assets/icons/512px/
/assets/icons/16px/
/assets/icons/32px/
/assets/icons/*.ai
/assets/icons/*.psd

/wp-all-import-pro/
wpai-acf-add-on

